
# Activer mod_rewrite
RewriteEngine On

############################################################
# 1. Récupérer et exposer le header Authorization
############################################################

# Méthode SetEnvIf (compatibilité Apache 2.2 / 2.4)
SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1
SetEnvIf Authorization .+ HTTP_AUTHORIZATION=$0

# Méthode RewriteRule (utile si SetEnvIf ne fonctionne pas)
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]


############################################################
# 2. Redirections classiques (facultatif)
############################################################

# Forcer HTTPS (si nécessaire)
#RewriteCond %{HTTPS} !=on
#RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


############################################################
# 3. Gestion front controller (ex : pour une API ou un framework)
############################################################

# Si le fichier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-f
# Et si le dossier n'existe pas
RewriteCond %{REQUEST_FILENAME} !-d
# Alors rediriger vers index.php (router)
RewriteRule ^ index.php [L]
# Note : index.php pourra ensuite router les requêtes en fonction de l'URL

